.navbar-brand {
    text-align: center;

}
.img {
    align-content: center;
}
.row {
    float: right;
}

.h3 {
    text-align: center;
}

.form-group {
    width: 50%;
    margin-bottom: 1rem;
    align-items: center;
    margin-left: 25%;
    margin-top: 45px;
}

btn.btn-primary {
    width:50%;
    align-items: center;
}

.container {
    float: clear right;
    border: 5px;
}

.form {
    width: 25%;

}