.card-img-top {
  display: block;
}

.card-body-info {
  display: block;
}

.textarea {
  display: block;
  float: right;
}

form {
    border: 1px, black;
    padding-top: 2px;
    background-color: white;
}

.navbar-brand {
    text-align: center;
}
.img {
    height: 30px;
    align-content: center;
}
.row {
    float: right;
}

.h3 {
    text-align: center;
}

.form-group {
    width: 50%;
    margin-bottom: 1rem;
    align-items: center;
    margin-left: 25%;
    margin-top: 45px;
}
.form-check {
    padding-top: 50px;
    width: 50%;
    margin-bottom: 1rem;
    align-items: center;
    margin-left: 25%;
    margin-top: 45px;
}

.custom-file {
    width: 50%;
    margin-bottom: 1rem;
    align-items: center;
    margin-left: 25%;
    margin-top: 45px;
}

btn.btn-primary {
    width:50%;
    align-items: center;
}

.container {
    float: clear right;
    border: 5px;
}


.psw {
    display: inline-block;
    align-content: center;
}

.btn {
    margin-left: 25%;
    width: 50%;
}

/* Bordered form */
.form {
    border: 3px solid #f1f1f1;
  }
  
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  .imgcontainer {
    height: 25px;
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  img.avatar {
    width: 25 px;
    height: 25 px;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
  }
  
/* Forgot password */
  span.psw {
    float: right;
    padding-top: 16px;
  }